:root {
    --lemon-yellow: #f8f6a3;
    --primary-heading: #073763;
    --primary-body: #234766;
    --secondary-heading: #76c7bb;
    --secondary-body: #9bc7c1;
}

#title-container {
    background:
        linear-gradient(to bottom, rgba(33, 33, 33, 0.6) 90%, var(--secondary-body) 100%),
        url('img/picnic.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: scroll, fixed;
    height: 100vh;
    position: relative;
}

#title {
    bottom: 25%;
    left: 15%;
    position: absolute;
}

.slot {
    background-color: var(--secondary-body);
    color: var(--primary-body);
}


.slot-alt {
    background-color: var(--primary-heading);
    color: var(--secondary-body);
}

#img-interlude-1 {
    height: 100vh;
    background:
        linear-gradient(to bottom, var(--secondary-body) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, var(--primary-heading) 100%),
        url('img/karaoke.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: scroll, fixed;
}

#img-interlude-2 {
    height: 100vh;
    background:
        linear-gradient(to bottom, var(--primary-heading) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, var(--secondary-body) 100%),
        url('img/halloween.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: scroll, fixed;
}

#img-interlude-3 {
    height: 100vh;
    background:
        linear-gradient(to bottom, var(--secondary-body) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, var(--primary-heading) 100%),
        url('img/oxbridge.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: scroll, fixed;
}

a:hover {
    color: var(--secondary-heading) !important;
}

a {
    color: var(--secondary-body) !important;
}